/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')
;

:root{
    --bg: #f9f7f4;
    --primary: #f2ede7;
    --primary-100: #fefff7;
    --secondary: #50533c;
    --tertiary: #84876c;
    --bege: #f2ede7;
    --color-text: #2c2c2c;
    --ff: "Lora", serif;
    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:800;
    --fw-800:900;

}

html,body{
    font-family: var(--ff);
    font-weight: var(--fw-400);
    scroll-behavior: smooth;
}

#_desktop_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#_desktop_logo img {
    width: 100px;
}

.header-top-right {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.header-top-right i{
    color: var(--secondary);
}

.searchbar-container{
    position: relative;
}

.searchbar-container i {
    cursor: pointer;
}

.ui-autocomplete.searchbar-autocomplete li a:hover {
  background-color: var(--tertiary);
  color: #fff;
  cursor: pointer;
}
.ui-autocomplete.searchbar-autocomplete li a {
  background-color: #fff;
  color: var(--secondary);
  cursor: pointer;
}

.ui-autocomplete.searchbar-autocomplete{
  border: 2px solid var(--secondary);
}

#search_widget.search-hidden{
    display: none;
}
#search_widget{
    display: block;
    position: absolute;
    right: 0;
    top: 3rem;
}

#search_widget form{
    height: 43px;
}

#search_widget form input {
    background: #fff;
    border: 1px solid #cacaca;
    padding: 0rem 2.5rem 0 1rem !important;
    height: 100%;
}
#search_widget form i {
    right: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    height: 100%;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    outline: 1px solid #000;
}
.header-top .search-widgets {
    max-width: 23rem;
  }

/*  my accoutn */

.myaccount-container{
    position: relative;
}

.myaccount-container i {
    cursor: pointer;
}

#block_myaccount_infos.myaccount-hidden{
    display: none;
}

#block_myaccount_infos {
    display: block;
    position: absolute;
    right: 0;
    top: 1.5rem;
    width: fit-content;
    text-align: start;
    border: 1px solid var(--secondary);
    background: #fff;
    min-width: 24rem;
    min-height: 16vh;
}

#block_myaccount_infos .bloco-idioma {
  position: absolute;
  right: 1rem;
  bottom: 0;
}
#block_myaccount_infos .bloco-idioma a{
  cursor: pointer;
}

#_desktop_cart .blockcart {
    position: relative;
}

#_desktop_cart .blockcart .cart-products-count{
    position: absolute;
    top: -3px;
    right: -6px;
    background: var(--secondary);
    border-radius: 50%;
    font-size: 14px;
    line-height: 12px;
    color: #fff;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
}

#_desktop_cart img {
    transform: scaleX(-1);
}


/* blog */

.blog-container{
    display: flex;
}
.blog-container .left-block{
    flex: 1;
}
.blog-container .right-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.blog-container .right-block h5 a{
    color: var(--secondary);
    font-size: 1.2rem;
}
.blog-container .right-block .blog-desc{
    color: var(--tertiary);
    width: 90%;
    font-size: 1.15rem;
}

.blog-container .right-block .blog-readmore a{
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    background: var(--secondary);
    border: 2px solid var(--secondary);
}
.blog-container .right-block .blog-readmore a:hover{
    background: #fff;
    color: var(--secondary) !important;
    border: 2px solid var(--secondary) !important;
}

#wrapper {
    background: var(--primary);
}
.our-studio {
    background: var(--secondary);
    /* min-height: 100vh; */
    display: flex;
    gap: 1rem;
    padding: 3rem 1rem;
    max-height: 800px;
}

.studio-card{
    min-height: 50vh;
    flex: 1;
    background: var(--primary);
}
.store-card{
    min-height: 50vh;
    flex: 1;
    background: var(--primary);
}

.studio-card img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.store-card img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* responsive */


@media (min-width: 1920px) {
    .container {
      width: 1920px;
      max-width: 100%;
    }
}
@media (min-width: 1600px) and (max-width:1920px){
    .container {
      width: 90%;
      max-width: 100%;
    }
}

.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 10px 0;
}


.studio-store{
    margin: 2rem 0 6rem 0;
}

.grid {
    columns: 28rem;
    gap: 1rem;
    counter-reset: grid;
  }

  .grid-item h1 {
    text-align: center;
    color: var(--primary);
    font-weight: var(--fw-400);
    margin: 0;
  }

  .grid-item + .grid-item {
    margin-top: 1rem;
  }
  
  .grid-item {
    break-inside: avoid;
    /* aspect-ratio: 3 / 3; */
    transition: all 0.250s;
  }
  

  .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-item:nth-child(1){
    aspect-ratio: 9/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
  }
  .grid-item:nth-child(2){
    aspect-ratio: 1;
  }
  .grid-item:nth-child(3){
    aspect-ratio: 1.16/1;
  }
  .grid-item:nth-child(4){
    aspect-ratio: 1.5;
  }
  .grid-item:nth-child(5){
    aspect-ratio: 0.749;
  }
  .grid-item:nth-child(6){
    aspect-ratio: 2/3.5;
  }
  .grid-item:nth-child(7){
    aspect-ratio: 1/0.25;
  }

  .visit-store-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
  }

  .visit-store-btn a {
    outline: 2px solid var(--primary);
    color: var(--primary) !important;
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: var(--fw-400);
  }

  .visit-store-btn a i {
    font-style: normal;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .visit-store-btn a:hover {
    background: var(--primary);
    color: var(--secondary) !important;
  }

  .our-services{
    margin: 3rem 0;
    padding: 1rem;
    background: var(--primary-100);
  }
  .our-services h1{
    color: var(--secondary);
    font-weight: var(--fw-400);
    margin: 0;
  }
  .our-services h3{
    color: var(--secondary);
    font-weight: var(--fw-400);
    margin: 0;
  }
  .our-services i{
    color: var(--secondary);
  }

  .our-services > *{
    font-family: var(--ff);
    font-weight: var(--fw-400);
  }

  .services_content{
    display: flex;
    margin: 6rem 0;
    gap: 2rem;
    padding: 0.5rem;
  }

  .services_content p {
    font-size: 1rem;
  }

  .services_content i {
    font-size: 3rem;
  }

  .design{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .shop{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .product-design{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .social-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }
 

  /* contact section */

  .contact-homepage{
    margin: auto;
    padding: 2rem 2rem 4rem 2rem;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .contact-homepage h1 {
    color: var(--primary);
    font-weight: var(--fw-400);
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 8rem;
  }

  .contact-homepage .contact-form{
    width: 60%;
    background: var(--primary);
    padding: 2rem 5rem;
    margin-top: 2rem;
  }
  .contact-homepage .contact-form .form-control-label{
    text-align: start;
    color: var(--secondary);
    font-weight: var(--fw-400);
  }

  .contact-homepage .contact-form .form-footer .btn{
    outline: 2px solid var(--secondary);
    background: var(--secondary);
    color: var(--primary);
    transition: background 0.250s;
  }
  .contact-homepage .contact-form .form-footer .btn:hover{
    outline: 2px solid var(--secondary);
    color: var(--secondary);
    background: var(--primary);
  }


/* about us section */

.about-us{
    display: flex;
    margin: 6rem 0;
    background-color: var(--secondary);
    background-image: url("/img/homedecor/amassado.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}
.about-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: rgba(0,0,0,.5);
    padding: 1rem;
}

.about-content h1 {
    color: var(--bege);
    font-size: 2rem;
    font-weight: var(--fw-400);
    font-family: "Roboto",sans-serif;
}

.card-about{
    background: transparent;
    color: var(--secondary);
    width: 80%;
    /* list-style: disc; */
}

.card-about li{
    margin-bottom: 2rem;
}
.card-about p{
    color: var(--bege);
    font-size: 1.1rem;
    font-weight: var(--fw-500);
    line-height: 1.5rem;
}

.about-img{
    flex: 0.6;
    background: var(--bege);
    padding: 1rem;
}
.about-img img{
    width: 100%;
}

/* footer */
#footer {
    padding-top: 0 !important;
}
.footer-container{
    padding-top: 0 !important;
}
.footer-content{
    display: flex;
    margin: 3rem 0;
    align-items: center;
}
.footer-logo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    max-width: 150px;
}
.footer-logo small{
    flex: 1;
    color: var(--secondary);
}
.footer-links{
    flex: 1;
}
.footer-address{
    flex: 1;
}
.footer-newsletter{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-newsletter .block_newsletter {
    border-bottom: 0;
}

.footer-newsletter .block_newsletter .row {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-newsletter .block_newsletter .row .btn {
    margin-left: 0 !important;
    background: var(--primary);
    color: var(--secondary);
    font-family: var(--ff);
  font-weight: var(--fw-500);
  font-size: 0.85rem;
}
.footer-newsletter .block_newsletter .row .btn:hover {
    color: var(--tertiary);
}
.footer-newsletter .block_newsletter form input[type="email"] {
    border: 0;
    background: var(--primary);
}


input::placeholder, textarea::placeholder{
    color: var(--secondary);
}

.footer-container li a:hover{
    color: var(--secondary) !important;
    text-decoration: underline;
}

.footer-address #contact-infos a {
    color: var(--secondary) !important;
}
.footer-address #contact-infos a:hover {
    text-decoration: underline;
}

.block-social {
    width: auto;
}
.block-social li{
    background-color: var(--secondary) !important;
    /* border-radius: 50%; */
    transition: all 0.250s;
}
.block-social li:hover{
    background-color: var(--tertiary) !important;
    transform: scale(0.95);
}

.header-top .menu {
    width: 100%;
}

.header-top .menu .menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}
.header-top .menu .menu-list .menu-item.dropdown .btn{
    background: #fff;
    color: var(--secondary);
    font-family: var(--ff);
    font-weight: var(--fw-400);
    position: relative;
}
.header-top .menu .menu-list .menu-item a{
    background: #fff;
    color: var(--secondary) !important;
    font-family: var(--ff);
    font-weight: var(--fw-400);
    text-transform: uppercase;
    position: relative;
    padding: .5rem 1.25rem;
    display: flex;
}
.header-top .menu .menu-list .menu-item a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: var(--tertiary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.header-top .menu .menu-list .menu-item a:hover::after{
    width: 100%; 
    left: 0; 
}

.header-top .menu .menu-list .menu-item.dropdown .btn::before {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: var(--tertiary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-top .menu .menu-list .menu-item.dropdown .btn:hover.btn::before {
    width: 100%; 
    left: 0; 
}

.dropdown-menu {
    border: none;
    background: #fff;
    top: 92%;

}

.header-top .menu .menu-list .menu-item .dropdown-menu .links-dropdown a{
    border-left: 3px solid var(--primary);
}
.header-top .menu .menu-list .menu-item .dropdown-menu .links-dropdown a:hover{
    color: var(--secondary) !important;
    border-left: 3px solid var(--secondary);
}
.header-top .menu .menu-list .menu-item .dropdown-menu .links-dropdown a:focus{
    color: var(--secondary) !important;
    border-left: 3px solid var(--secondary);
    text-decoration: none !important;
    outline: none !important;
}
.header-top .menu .menu-list .menu-item .dropdown-menu .links-dropdown a:focus-visible{
  outline: none;
}

.header-top .menu .menu-list .menu-item .dropdown-menu .links-dropdown a::after{
    content: none !important;
    display: none !important;
}

.dropdown-menu {
    min-width: 15rem;
    min-height: 10rem;
    width: max-content;
}

.open .dropdown-menu {
    display: flex;
    /* flex-direction: column;
  justify-content: center; */
  /* height: 100%; */
}

.product-flags li.product-flag {
    background: var(--secondary);
    display: flex;
    align-items: center;
}

.featured-products {
    /* background: #fff; */
    padding: 1rem;
}

.featured-list {
    width: 100%;
}

.swiper-slide .js-product.product{
    width: 100%;
}

.product-miniature .thumbnail-container {
    border-radius: 0.5rem;
    padding: 1rem;
}
.product-miniature .product-description {
    background: var(--bege);
}

.swiper-button-next,.swiper-button-prev {
    color: var(--secondary) !important;
    background-image: none !important;
}

.all-product-link {
    color: var(--bege) !important;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    padding: 0.5rem 1rem;
}
.all-product-link:hover {
    color: var(--secondary) !important;
    border: 2px solid var(--secondary);
    background: var(--bege);
    padding: 0.5rem 1rem;
}

.product-miniature .thumbnail-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-img-container{
    display: grid;
    gap:5px;
    grid-template-areas:
    'img1 img1 img2 '
    'img1 img1 img3 '
;
}
/* .about-img-item{
aspect-ratio: 1;
} */
.about-img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-img-item:nth-child(1){
    grid-area: img1;
    }
  .about-img-item:nth-child(2){
    grid-area: img2;
    }
  .about-img-item:nth-child(3){
    grid-area: img3;
    }


    .form-control:focus  {
        outline: .1875rem solid var(--tertiary) !important;
        border-color: var(--tertiary) !important;
    }

    .product-miniature .thumbnail-container:hover .product-description::after {
        border-top: 0 !important;
    }


    #category #wrapper {
        padding: 4rem 0px;
    }

    .pagination .page-list{
        background: var(--bege);
    }

    .pagination .current a{
        color: var(--secondary);
    }
    .pagination a{
        color: var(--tertiary);
    }

    .pagination .next:hover {
        color: var(--secondary);
    }
    .pagination .previous:hover {
        color: var(--secondary);
    }

    #product #content{
        max-width: 570px;
    }

    .current-price-value {
        color: var(--secondary);
    }
    .add-to-cart {
        background: var(--secondary) !important;
    }
    .add-to-cart:hover {
        background: var(--tertiary) !important;
    }
    .add-to-cart:focus {
        background: var(--tertiary) !important;
    }
    .add-to-cart:active {
        background: var(--tertiary) !important;
    }
    .add-to-cart:active:focus {
        background: var(--tertiary) !important;
    }

    .product-images > li.thumb-container .thumb.selected, .product-images > li.thumb-container .thumb:hover {
        border: var(--secondary) 3px solid;
      }

      .tabs .nav-tabs .nav-link.active {
        border-bottom: var(--secondary) 3px solid;
        color:var(--secondary);
      }
      .tabs .nav-tabs .nav-link {
        border-bottom: var(--secondary) 3px solid;
        color:var(--tertiary);
      }

      .product-manufacturer a {
        color: var(--tertiary);
        text-decoration: underline;
      }
      .product-manufacturer a:hover {
        color: var(--secondary);
      }

      .btn-comment {
        background: var(--secondary);
      }

      .highlighted-informations .add-to-cart{
        width: 100%;
        font-size: 0.8rem;
        padding: .5rem 1rem;
      }

      .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
        top: calc(100% - 3rem);
      }

      .product-miniature .highlighted-informations {
        padding: 0 !important;
      }

      .modal-body .product-name{
        color: var(--secondary) !important;
      }
      
      .modal-body .cart-content-btn a{
        background: var(--secondary);  
      }
      .modal-body .cart-content-btn a:hover,.modal-body .cart-content-btn a:hover:active,
      .modal-body .cart-content-btn a:focus{
        background: var(--secondary) !important;  
      }
      .block-categories .category-sub-menu li[data-depth="1"]{
        padding-left: 1rem;
      }
      .block-categories .category-sub-menu li[data-depth="1"]::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e5e5e5;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .block-categories .category-sub-menu li[data-depth="1"]:hover::before {
        background-color: var(--secondary);
    }


    /* cartt */

    .cart-grid-body {
        background: #fff;
    }
    .cart-grid-body .remove-from-cart{
        color: var(--secondary) !important;
    }
    .cart-grid-body .remove-from-cart:hover{
        color: var(--tertiary) !important;
    }

    .cart-grid-body .price {
        color: var(--secondary);
    }
    

    .checkout .btn {
        background: var(--secondary);
    }
    .checkout .btn:hover,.checkout .btn:hover:active,.checkout .btn:focus {
        background: var(--tertiary);
    }

    .cart-grid-body a.label{
        color: var(--tertiary);
    }
    .cart-grid-body a.label:hover{
        color: var(--secondary);
    }


    .swiper-slide {
        display: flex !important;
    }

    .featured-products .highlighted-informations .add-to-cart {
        padding: 0.5rem 0;
    }



    .language-selector ul{
        display: flex;
        padding-left: 1rem;
    }

    .language-selector ul li a{
        padding: 3px 0.5rem;
    }
    .language-selector ul li.current a img{ 
        outline: 2px solid var(--secondary);
        border-radius: 2px;
    }
    .language-selector ul li.current a:hover img{ 
        outline: 2px solid var(--secondary);
        border-radius: 2px;
    }
    .language-selector ul li a:hover img{ 
        outline: 2px solid var(--tertiary);
        border-radius: 2px;
    }
    
    .page-cms-2 h3,.page-cms-2 h2{
      color: var(--secondary);
    }
    

    .page-cms-9 {
    padding: 0 !important;
    }

    .services-cms .asterisco{
      color: red;
  }

  .services-cms .services-item .prices{
      display: flex;
      flex-direction: column;
  }

  .services-cms{
      background: var(--bege);
  }
  .services-cms .services-item{
      display: flex;
      margin-bottom: 3rem;
      background: var(--bege);
  }
  .services-cms .services-item:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
      background: var(--bg);
  }
  .services-cms .services-item:nth-child(2) .content{
      padding-left: 1.5rem;
  }
  .services-cms .content{
      flex: 1;
      padding-right: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .services-cms .content h1{
      color: var(--color-text);
  }
  .services-cms .content small{
      color: var(--color-text) !important;
      margin-bottom: 0.5rem;
      font-size: 0.825rem;
  }

  .services-cms .content-imgs{
      display: grid;
      gap: 5px;
      grid-template-areas:
          'dec1 dec1 dec2 '
          'dec1 dec1 dec3 ';
      flex: 0.6;
      height: fit-content;
      }
      
  .services-cms .content-imgs .img:nth-child(1){
      grid-area: dec1;
      aspect-ratio: 1;
  }
  .services-cms .content-imgs .img:nth-child(2){
      grid-area: dec2;
      aspect-ratio: 1;
  }
  .services-cms .content-imgs .img:nth-child(3){
      grid-area: dec3;
      aspect-ratio: 1;
  }
  .services-cms img{
      width: 100%;
  }

  .page-content.page-cms ul {
    list-style: square !important;
    padding-left: 2rem;
  }

  p{
    color: #565656;
  }
  b{
    color: var(--color-text);
  }

    @media screen and (min-width:1200px) {
      .projects-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
      .projects-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (min-width:768px) {
    
    .dropdown-menu {
      padding:6rem 1rem 4rem 1rem;
      max-height: 710px;
      min-height: 710px;
      border-bottom: 1px solid var(--secondary);
  }

  .dropdown-menu .links-dropdown {
      flex: 1;
      padding-left: 1rem;
  }
  .dropdown-menu .links-dropdown li{
      width: fit-content;
  }
  .dropdown-menu .links-dropdown li a{
      font-size: 1.5rem;
  }
  .dropdown-menu .dropdown-imgs {
      flex: 1;
      display: flex;
      gap: 0.5rem;
  }
  .dropdown-menu .dropdown-imgs .container-img-drop{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
  }
  .container-img-drop p a{
      color: var(--secondary) !important;
      font-size: 1rem;
  }
  .container-img-drop h1 a::after{
      color: var(--secondary) !important;
      content: none !important;
  }
  .dropdown-menu .dropdown-imgs a{
      background: #fff!important;
      
  }
  .dropdown-menu .dropdown-imgs img{
      height: 450px;
      object-fit: cover;
      width: 100%;
  }

  #cms .page-header h1{
    font-size: 4rem;
    font-weight: 100;
  }

  .cms-id-8 .page-header h1{
    font-size: 4rem !important;
    font-weight: lighter;
    color: var(--color-text) !important;
  }

  .page-cms-8{
    padding: 0 !important;
  }
  .projects-section {
    display: grid;
    /* grid-template-columns: 1fr 1fr ; */
    gap: 5rem 2rem;
    background: var(--bege);
  }

  .project-item{

  }
  .project-item-img img{
    width: 100%;
  }
  .project-item-content {
    padding: 1rem 0;
  }

  .project-item-content h1 a{
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: var(--fw-500);
  }
  .project-item-content h5 a{
    color: var(--color-text);
    font-size: 1.25rem;
    font-weight: var(--fw-100);
  }

  .project-item-content h1 a:hover {
    opacity: .7;
  }
  .project-item .project-item-content h5 a:hover{
    opacity: .7 !important;
  }

  .blog-lastest-title {
    font-size: 4rem;
    font-weight: 100;
  }

  .services-cms .content-imgs{
    display: grid;
    gap: 5px;
    grid-template-areas:
        'dec1 dec1 dec2 '
        'dec1 dec1 dec3 ';
    flex: 0.6;
    height: auto;
    padding: 1rem;
    background: #fff;
    }

  .services-cms .content-imgs .img:nth-child(1){
    grid-area: dec1;
    aspect-ratio: unset;
}
.services-cms .content-imgs .img:nth-child(2){
    grid-area: dec2;
    aspect-ratio: unset;
}
.services-cms .content-imgs .img:nth-child(3){
    grid-area: dec3;
    aspect-ratio: unset;
}
.services-cms img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* teste */
#header .header-top > .container{
  position: unset;
}
.dropdown {
  position: unset;
}
.dropdown .btn{
  /* padding-block: 1rem; */
}

.header-top .container .row {
  align-items: end !important;
}

ul.drop1{
  left: 0 !important;
  width: 99.1dvw !important;
  top: 82%;
}
ul.drop2{
  left: 0 !important;
  width: 99.1dvw !important;
  top: 82%;
}
ul.drop3{
  left: 0 !important;
  width: 99.1dvw !important;
  top: 82%;
}
ul.drop4{
  left: 0 !important;
  width: 99.1dvw !important;
  top: 82%;
}

#_desktop_logo small{
  width: max-content;
}

.header-top-right {
  padding-block: .5rem;
}

#about-us-section .about-img-container {
  height: 100% ;
}

.blog-image-container img{
  max-height: 560px !important;
}


}

    @media screen and (max-width:767px) {
      .dropdown-menu {
        position: unset;
        float: none;
        flex-direction: column;
        min-height: auto !important;
      }
      .dropdown-menu li{
        padding-left: 1rem !important;

      }
      .dropdown-menu li a{
        padding-left: 1rem;
        position: relative;
        color: var(--tertiary) !important;
      }
      .dropdown-menu li a::before{
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--tertiary);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .menu-item button {
        background: #fff !important;
        color: var(--secondary) !important;
        padding: 0;
      }

      #index {
        background: var(--bege);
      }

      #_mobile_top_menu  ul li {
        padding: .5rem 0 !important;
      }
      #_mobile_top_menu  ul li a {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--secondary);
      }

      #header .header-nav .blockcart .header{
        margin-top: 0 !important;
      }

      .footer-content .block-social ul {
        gap: 1rem;
        margin-top: 2rem;
      }
      .footer-content .block-social ul li{
        margin-inline: 0 !important;
      }

      .footer-newsletter .block_newsletter form input[type="email"] {
        border-radius: 0 !important;
      }

      .footer-logo {
        background: #fff;
        border-radius: 0.25rem;
        padding: 0.5rem;
      }

      .footer-container .row p {
        text-align: center;
      }

      .dropdown-backdrop{
        z-index: -1;
      }

      .product-price-and-shipping {
        color: var(--secondary);
      }

      .page-cms-8{
        padding: 0 !important;
      }

      .projects-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem 1rem;
        background: var(--bege);
        place-items: center;
      }

      .project-item-content{
        padding: 1rem 0;
      }

      .project-item-content h1 a{
        color: var(--color-text);
        font-weight: var(--fw-500);
      }
      .project-item-content h5 a{
        color: var(--color-text);
        font-weight: var(--fw-100);
      }

      .project-item-img img{
        width: 100%;
      }

      .cms-id-8 .page-header h1{
        font-size: 3rem !important;
        font-weight: lighter;
        color: var(--color-text) !important;
      }
    
    }

    @media screen and (min-width:768px) and (max-width:1600px) {
      .footer-content {
        flex-direction: column;
        gap: 2rem;
      }

      #about-us-section .about-img-container {
        height: 100% ;
      }
    }

    @media screen and (min-width:768px) and (max-width:992px) {
      .header-top .container .row {
        flex-direction: column;
        align-items: center !important;
      }

      .header-top-right{
        justify-content: center;
      }

      .header-top .container .row #_desktop_logo small{
        width: max-content;
      }

      .header-top #search_widget {
        top: 0;
        right: 2rem;
      }
      .header-top #search_widget input {
        min-width: 300px;
      }

      #wrapper .container {
        width: 100%;
      }

      #about-us-section .about-img-container {
        height: 100%;
      }

      .footer-container .container {
        width: 100%;
      }

      ul.drop1 {
        top: 85%;
      }
      ul.drop2 {
        top: 85%;
      }
      ul.drop3 {
        top: 85%;
      }
      ul.drop4 {
        top: 85%;
      }

      .dropdown.open ul.drop1 {
        display: flex;
      }
      .dropdown.open ul.drop2 {
        display: flex;
      }
      .dropdown.open ul.drop3 {
        display: flex;
      }
      .dropdown.open ul.drop4 {
        display: flex;
      }


      .blog-title {
        text-align: center;
      }

      .dropdown-menu.drop1 .links-dropdown{
        flex: .4;
      }
      .dropdown-menu.drop2 .links-dropdown{
        flex: .6;
      }
      .dropdown-menu.drop3 .links-dropdown{
        flex: .6;
      }
      .dropdown-menu.drop4 .links-dropdown{
        flex: .7;
      }

      .terms_conditions {
        display: flex;
        flex-direction: column-reverse;
      }

      .terms-img div:nth-child(1){
        aspect-ratio: 1;
      }
      .terms-img div:nth-child(2){
        aspect-ratio: 1/1.51;;
      }
      .terms-img div:nth-child(3){
        aspect-ratio: 2/1;
      }
      .terms-img div:nth-child(4){
        aspect-ratio: 1;
      }
      .terms-img div:nth-child(5){
        aspect-ratio: 1;
      }
    }

    @media screen and (max-width: 992px) {

      

      .header-top .container{
        width: 100%;
        padding-inline: 1rem;
      }

      .page-cms-9 {
        padding: 0 !important;
        }
    
      .services-cms .services-item .prices{
          display: flex;
          flex-direction: column;
      }
    
      .services-cms{
          background: var(--bege);
      }
      .services-cms .services-item{
          display: block;
          margin-bottom: 3rem;
          background: var(--bege);
      }
      .services-cms .services-item:nth-child(2){
          display: block;
      }
      .services-cms .services-item:nth-child(2) .content{
          padding-left: 1.5rem;
      }
      .services-cms .content{
          flex: 1;
          padding-right: 1.5rem;
      }
      .services-cms .content h1{
          color: var(--color-text);
      }
      .services-cms .content small{
          color: var(--color-text) !important;
          margin-bottom: 0.5rem;
      }
    
      .services-cms .content-imgs{
          display: grid;
          gap: 5px;
          grid-template-areas:
              'dec1 dec1 dec2 '
              'dec1 dec1 dec3 ';
          flex: 0.6;
          height: fit-content;
          }
          
      .services-cms .content-imgs .img:nth-child(1){
          grid-area: dec1;
          aspect-ratio: 1;
      }
      .services-cms .content-imgs .img:nth-child(2){
          grid-area: dec2;
          aspect-ratio: 1;
      }
      .services-cms .content-imgs .img:nth-child(3){
          grid-area: dec3;
          aspect-ratio: 1;
      }
      .services-cms img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    
      .page-content.page-cms ul {
        list-style: square !important;
        padding-left: 2rem;
      }
    
      p{
        color: #565656;
      }
      b{
        color: var(--color-text);
      }

     
    }

    

    .grid_imgs_dropdown2{
        display: grid;
        gap:5px;
        grid-template-areas:
        'store1 store3 store3'
        'store1 store3 store3'
        'store2 store3 store3'
        'store2 store3 store3'
    ;
    }

    .grid_imgs_dropdown2 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
    }

    .grid_imgs_dropdown2 img:nth-child(1) {
        grid-area: store1;
    }
    .grid_imgs_dropdown2 img:nth-child(2) {
        grid-area: store2;
    }
    .grid_imgs_dropdown2 img:nth-child(3) {
        grid-area: store3;
    }


    .grid_imgs_dropdown1{
        display: grid;
        gap:5px;
        grid-template-areas:
        'design1 design4 design5'
        'design3 design2 design6'
    ;
    }

    .grid_imgs_dropdown1 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
    }

    .grid_imgs_dropdown1 img:nth-child(1) {
        grid-area: design1;
    }
    .grid_imgs_dropdown1 img:nth-child(2) {
        grid-area: design2;
    }
    .grid_imgs_dropdown1 img:nth-child(3) {
        grid-area: design5;
    }
    .grid_imgs_dropdown1 div:nth-child(1) {
        grid-area: design3;
    }
    .grid_imgs_dropdown1 div:nth-child(2) {
        grid-area: design4;
    }
    .grid_imgs_dropdown1 div:nth-child(3) {
        grid-area: design6;
    }
    

    .grid_imgs_dropdown1 .design3 {
        background: var(--bege);
    }
    .grid_imgs_dropdown1 .design4 {
        background: var(--bege);
    }
    .grid_imgs_dropdown1 .design6 {
        background: var(--bege);
    }

    .grid_imgs_dropdown3{
        display: grid;
        gap:5px;
        grid-template-areas:
        'about1 about2 '
        'about3 about4 ';
        grid-auto-rows: minmax(100px, auto);
    }

    .grid_imgs_dropdown3 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
    }

    .grid_imgs_dropdown3 img:nth-child(1) {
        grid-area: about2;
    }
    .grid_imgs_dropdown3 div:nth-child(1) {
        grid-area: about1;
    }
    .grid_imgs_dropdown3 div:nth-child(2) {
        grid-area: about4;
    }
    .grid_imgs_dropdown3 img:nth-child(2) {
        grid-area: about3;
    }

    .grid_imgs_dropdown3 .about1 {
        background: var(--bege);
    }
    .grid_imgs_dropdown3 .about4 {
        background: var(--bege);
    }

    .category-top-menu a{
      font-family: var(--ff);
      font-weight: var(--fw-400);
      color: var(--secondary);
    }
    .category-top-menu .category-sub-menu a{
      font-family: var(--ff);
      font-weight: var(--fw-400);
      color: var(--secondary);
      padding-left: 0.5rem;
      padding-bottom: 0;
      position: relative;
    }


    /* Blogs css */

    .blog-item .blog-shortinfo {
      padding-top: 12px;
      min-height: 72px;
    }

    #module-leoblog-list #blog-listing > a {
      font-family: var(--ff) !important;
      font-weight: var(--fw-400) !important;
      color: var(--secondary) !important;
    }
    .blog-image-container .title a{
      font-family: var(--ff) !important;
      font-weight: var(--fw-400) !important;
      color: var(--secondary);
    }

    #blog-listing .row{
      width: 100%;
    }

    #blog-listing .leading-blog{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    #blog-listing .leading-blog .nocol-lg-12{
      max-width: 619px;
    }

    .blogs-container .blog-image img {
      max-width: 100%;
      height: 480px;
      object-fit: cover;
      width: 100%;
    }

    #contact #main #content{
      padding: 0;
    }
    #contact #main #content .contact-form{
      background: var(--bege);
    }

    #contact #wrapper .container .row:nth-child(1) {
      display: flex;
      align-items: center;
    }
    .contact-rich{
      color: var(--secondary);
      padding: 1rem;
      background: var(--bege);
      margin: 0;
    }
    .contact-rich a{
      color: var(--secondary);
    }
    .contact-rich a:hover{
      text-decoration: underline;
    }

    .contact-form  .form-control-label{
      text-align: start;
      color: var(--color-text);
      font-weight: 100;
    }

    .contact-rich h4{
      color: var(--color-text);
      font-weight: 100;
    }

    .form-footer .btn.btn-primary {
      background: var(--secondary);
      border: 2px solid var(--secondary);
    }
    .form-footer .btn.btn-primary:hover {
      background: var(--bege);
      border: 2px solid var(--secondary);
      color: var(--secondary);
    }

    #left-column {
      background: var(--bege);
      padding: 4rem 0.5rem;
      /* border-right: 2px solid var(--tertiary); */
    }

    .list-blog-slick-carousel .blog_img_link img {
      /* max-height: 400px; */
    object-fit: cover;
    }
    
    #blog-listing .blog-info p {
      display: flex;
      justify-content: center;
    }
    #blog-listing .blog-info p .more{
      background: var(--bege);
      border: 2px solid var(--secondary);
      color: var(--secondary);
    }

    #blog-listing .blog-info p .more:hover{
      background: var(--secondary);
      border: 2px solid var(--secondary);
      color: var(--bege);
    }

    #module-leoblog-blog #blogpage .blog-description {
      padding: 2rem 0;
    }
    #module-leoblog-blog #blogpage .blog-description > p{
      color: var(--color-text);
    }
    #module-leoblog-blog #blogpage .blog-image {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
    }
    #module-leoblog-blog #blogpage .blog-image img {
      height: 600px;
      width: 100%;
      object-fit: contain;
    }

    .drop1 .container-img-drop img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      max-height: 424px;
    }
    .drop1 .container-img-drop h1 {
      min-height: 64.4px;
    }

    .page-cms-3{
      background: var(--bege) !important;
    }

    .terms_conditions {
      display: flex;
    }
    .terms-img{
      flex: 0.8;
      display: grid;
      gap: 5px;
      grid-template-areas:
        'term1 term3'
        'term1 term4'
        'term2 term4'
        'term2 term5';
    }
    .terms-img div:nth-child(1){
      background-image: url('/img/homedecor/cms/380694708_247651141601233_1328095166327902998_n.jpg');
      grid-area: term1;
      background-size: cover;
    }
    .terms-img div:nth-child(2){
      background-image: url('/img/homedecor/cms/_acasadecampo__1701427295_3248130031715741010_54089535870.jpg');
      grid-area: term2;
      background-size: cover;
      background-position: right;
    }
    .terms-img div:nth-child(3){
      background-image: url('/img/homedecor/cms/379535212_279250198375129_8944159946853471965_n.jpg');
      grid-area: term3;
      background-size: cover;
      background-position: center;
    }
    .terms-img div:nth-child(4){
      background-image: url('/img/homedecor/cms/379917678_984244059463237_1771910755720271066_n.jpg');
      grid-area: term4;
      background-size: cover;
    }
    .terms-img div:nth-child(5){
      background-image: url('/img/homedecor/cms/380275836_3824073301159088_7893981013938136764_n.jpg');
      grid-area: term5;
      background-size: cover;
    }
    .terms-list{
      flex: 1;
    }
    .terms-list li{
      margin-bottom: 2rem;
    }
    .terms-list h2{
      color: var(--secondary);
    }

    #cms .page-header h1{
      color: var(--color-text) !important;
    }

    .copyright {
      color: var(--secondary) !important;
    }
    .copyright:hover {
      color: var(--secondary) !important;
      text-decoration: underline;
    }

    .category-sub-menu .add,.category-sub-menu .remove{
      color: var(--secondary);
    }

    .category-sub-menu .add:hover,.category-sub-menu .remove:hover{
      color: var(--tertiary) !important;
    }

    #module-leoblog-category .section-title{
      font-size: 4rem;
      font-weight: 100;
      color: var(--color-text);
    }
    #module-leoblog-blog .blog-title{
      font-size: 4rem;
      font-weight: 100;
      color: var(--color-text);
    }
    #module-leoblog-blog .breadcrumb ol li:nth-child(2){
      display: none;
    }
    #module-leoblog-category .breadcrumb ol li:nth-child(2){
      display: none;
    }
                  
    #module-leoblog-category .blog-item .more{
      background: var(--secondary);
      border: 2px solid var(--secondary);
    }
    #module-leoblog-category .blog-item .more:hover{
      background: var(--bege);
      border: 2px solid var(--secondary);
      color: var(--secondary);
    }


    #module-leoblog-category .blog-item .blog-info p{
      display: flex;
      justify-content: center;
    }


    #module-leoblog-search #wrapper #left-column .block-categories{
      display: none;
    }
    #module-leoblog-blog #wrapper #left-column .block-categories{
      display: none;
    }
    #module-leoblog-category .blog-item .blog-shortinfo{
      min-height: 92px;
    }
    #module-leoblog-search .blog-item .blog-shortinfo{
      min-height: 92px;
    }
    #module-leoblog-blog .blog-item .blog-shortinfo{
      min-height: 92px;
    }
    #module-leoblog-category .blog-image-container .title a{
      overflow: hidden;
      width: 376px;
      display: block;
      text-wrap: nowrap;
      height: 26px;
    }
    #module-leoblog-search .blog-image-container .title a{
      overflow: hidden;
      width: 376px;
      display: block;
      text-wrap: nowrap;
      height: 26px;
    }
    #module-leoblog-blog .blog-image-container .title a{
      overflow: hidden;
      width: 376px;
      display: block;
      text-wrap: nowrap;
      height: 26px;
    }

    #module-leoblog-search #wrapper #left-column #search-blog{
      background: var(--bege);
    }
    #module-leoblog-blog #wrapper #left-column #search-blog{
      background: var(--bege);
    }
    #module-leoblog-category #wrapper #left-column #search-blog{
      background: var(--bege);
    }

    #module-leoblog-search #wrapper #left-column #search-blog #blog-nav a{
      color: var(--secondary);
    }
    #module-leoblog-search #wrapper #left-column #search-blog #blog-nav a:hover{
      color: var(--secondary);
      text-decoration: underline;
    }

    #module-leoblog-blog #wrapper #left-column #search-blog #blog-nav a{
      color: var(--secondary);
    }
    #module-leoblog-blog #wrapper #left-column #search-blog #blog-nav a:hover{
      color: var(--secondary);
      text-decoration: underline;
    }
    #module-leoblog-category #wrapper #left-column #search-blog #blog-nav a{
      color: var(--secondary);
    }
    #module-leoblog-category #wrapper #left-column #search-blog #blog-nav a:hover{
      color: var(--secondary);
      text-decoration: underline;
    }

    #blogPopularBlog h4 a {
      color: var(--secondary);
      font-size: 1.5rem;
    }
    #blogPopularBlog h3 a {
      color: var(--tertiary);
    }

    #blogPopularBlog .lists{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    #blogpage .extra-blogs ul li a {
      color: var(--secondary);
    }
    #blogpage .extra-blogs ul li a:hover {
      color: var(--secondary);
      text-decoration: underline;
    }

    #blogpage .blog-author a {
      color: var(--secondary);
    }
    #blogpage .blog-cat a {
      color: var(--secondary);
    }

@media screen and (max-width:768px) {
  .terms-img {
    flex: 0.8;
    display: grid;
    gap: 5px;
    grid-template-areas:
  'term1 ' 
  'term2' 
  'term3' 
  'term4' 
  'term5';
  }

  .terms_conditions {
    display: flex;
    flex-direction: column-reverse;
  }
  .terms-img div{
    background-repeat: no-repeat;
  }
  .terms-img div:nth-child(1){
    aspect-ratio: 1;
    background-size: cover;
  }
  .terms-img div:nth-child(2){
    aspect-ratio: 1;
    background-size: cover;
  }
  .terms-img div:nth-child(3){
    aspect-ratio: 1;
    background-size: cover;
  }
  .terms-img div:nth-child(4){
    aspect-ratio: 1;
    background-size: cover;
  }
  .terms-img div:nth-child(5){
    aspect-ratio: 1;
    background-size: cover;
    background-position: unset;
  }


    #header .header-top {
        padding: 0;
    }

    #header .header-nav{
        height: 80px !important;
        max-height: unset !important;
    }
    .header-nav .mobile{
        height: 80px !important;
    }
    .header-nav .mobile #_mobile_logo{
        height: 80px !important;
        display: flex;
        flex-direction: column;
    }
    .header-nav .mobile #_mobile_logo img{
        max-height: 3rem;
    }

    .header-nav .mobile #menu-icon{
        height: 80px;
        position: relative;
    }

    #header .header-nav #menu-icon .material-icons{
        line-height: 0;
        height: 100%;
        display: flex !important;
        align-items: center;
    }

    #header .header-nav .blockcart {
        height: 80px;
        padding: .75rem;
        margin-left: .9375rem;
        text-align: center;
        white-space: nowrap;
        background: #f6f6f6;
        display: flex;
        align-items: center;
      }

      #header .header-nav .user-info {
        height: 80px;
        display: flex;
        align-items: center;
        margin-top: 0 ;
      }

      .blog-container{
        position: relative;
        height: 60vh;
      }
      .blog-container .blog-image-container{
        height: 100%;
      }

      .blog-image-container img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .blog-container .right-block{
        position: absolute;
        background: transparent;
        height: 100%;
        background: rgba(0,0,0, 0.3);
      }

      .blog-container .right-block .blog-title{
        text-align: center;
        padding: 1rem;
        background: #ffffffdb;
        width: 90%;
        margin-bottom: 0;
      }
      .blog-container .right-block .blog-desc{
        color: var(--primary);
        width: 90%;
        font-size: 1.15rem;
        background: #84876c9c;
        padding: 0.5rem;
      }

      .product-miniature .thumbnail-container {
        padding: 0.4rem;
      }

      .product-miniature .product-title{
        min-height: 39.6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #about-us-section {
        padding: 1rem;
      }
      #about-us-section .about-img {
        display: none;
      }
      #about-us-section .about-content .card{
        width: 100%;
      }

      .services_content{
        display: grid;
      }

      .contact-homepage{
        padding: 0;
        background: var(--bege);
      }
      .contact-homepage h1{
        padding: 0;
        margin: 0;
        color: var(--secondary);
      }
      .contact-homepage .contact-form{
        padding: 0;
        width: 100%;
      }

      .footer-content{
        flex-direction: column-reverse;
      }
      .footer-address {
        width: 100%;
        margin: 2rem 0;
      }
      .footer-address .block-contact  .title{
        display: none;
      }
      .footer-address .block-contact  #contact-infos{
        display: block;
      }

      .footer-links{
        width: 100%;
        margin-bottom: 2rem;
      }

      .footer-links .wrapper .title{
        display: none;
      }
      .footer-links .wrapper #footer_sub_menu_2{
        display: block;
      }
      .footer-links .wrapper #footer_sub_menu_2 > li{
        background: var(--bege);
        margin-bottom: 0;
      }
      .footer-links .wrapper #footer_sub_menu_2 > li a{
        width: 100%;
        display: flex;
        color: var(--secondary);
      }

      .footer-container .copyright{
        color: var(--secondary);
      }

      .swiper-slide {
        margin-right: 0 !important;
      }

      .container{
        width: auto !important;
      }

      input, textarea{
        font-size: 16px;
      }

      .all-product-link {
        display: flex;
        align-items: center;
      }
      .featured-products{
        padding: 0;
      }

      .footer-newsletter {
        width: 100%;
      }

      .footer-container {
        background: #fff;
      }

      #header .header-nav .cart-preview.active {
        background: #f6f6f6;
        position: relative;
      }

      #header .header-nav .cart-preview .cart-products-count {
        position: absolute;
        background: var(--secondary);
        width: 16px;
        height: 16px;
        right: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 25px;
      }
}


.grid_imgs_contact {
  display: grid;
  gap: 5px;
  grid-template-areas:
'design1 design2' 
'design3 design4'
'design5 design6';
}

.grid_imgs_contact img{
  width: 100%;
  object-fit: cover;
}
.grid_imgs_contact div{
  background: var(--tertiary);
}

.grid_imgs_contact img:nth-child(1) {
  grid-area: design1;
}
.grid_imgs_contact img:nth-child(2) {
  grid-area: design4;
}
.grid_imgs_contact img:nth-child(3) {
  grid-area: design5;
}
.grid_imgs_contact div:nth-child(1) {
  grid-area: design2;
  aspect-ratio: 1;
}
.grid_imgs_contact div:nth-child(2) {
  grid-area: design3;
}
.grid_imgs_contact div:nth-child(3) {
  grid-area: design6;
}



/* cms about us */
.page-cms-4 {
  padding: 0 !important;
}

.cms-id-4 .page-header {
  display: none;
}

.aboutus-cms {
  display: grid;
  grid-template-areas: 
  'a-item1 a-item2 a-item3 a-item3'
  'a-item4 a-item5 a-item5 a-item6'
  'a-item4 a-item7 a-item8 a-item8';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  background: var(--bege);
 }

 .aboutus-item{
  width: 100%;
 }
 .aboutus-item p{
  padding: 1rem;
  font-size: 1.25rem;
  margin: 0;
  color: var(--color-text);
 }

 .aboutus-cms .aboutus-item:nth-child(1) {
  grid-area: a-item1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 100;
  background: var(--bege);
 }
 .aboutus-cms .aboutus-item:nth-child(2) {
  grid-area: a-item2;
  background-image: url('/img/homedecor/cms/379917678_984244059463237_1771910755720271066_n.jpg');
  aspect-ratio: 1;
  background-size: contain;
 }
 .aboutus-cms .aboutus-item:nth-child(3) {
  grid-area: a-item3;
  /* background-image: url('https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-position: center;
  background-size: cover;
  background-color: var(--tertiary);
 }
 .aboutus-cms .aboutus-item:nth-child(4) {
  grid-area: a-item4;
  /* background-image: url('https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-size: cover;
  background-color: var(--secondary);
 }
 .aboutus-cms .aboutus-item:nth-child(5) {
  grid-area: a-item5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
 }
 .aboutus-cms .aboutus-item:nth-child(6) {
  grid-area: a-item6;
  background-image: url('/img/homedecor/cms/380174167_753614279862319_4236585611080198662_n.jpg');
  aspect-ratio: 1;
  background-size: contain;
 }
 .aboutus-cms .aboutus-item:nth-child(7) {
  grid-area: a-item7;
  background-image: url('/img/homedecor/cms/381285161_334169202447972_417751304525317919_n.jpg');
  aspect-ratio: 1;
  background-size: contain;
 }
 .aboutus-cms .aboutus-item:nth-child(8) {
  grid-area: a-item8;
  /* background-image: url('https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-position: center;
  background-size: cover;
  background-color: var(--tertiary);
 }


 @media screen and (max-width: 1600px) {
  .aboutus-cms {
    display: grid;
    grid-template-areas: 
    'a-item1 a-item2 a-item3'
    'a-item6 a-item5 a-item5'
    'a-item4 a-item7 a-item8';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    background: var(--bege);
   }
 }
 @media screen and (max-width: 1200px) {
  .aboutus-cms {
    display: grid;
    grid-template-areas: 
    'a-item1 a-item2'
    'a-item5 a-item5'
    'a-item3 a-item6 '
    'a-item7 a-item4';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    background: var(--bege);
   }
 }

 @media screen and (max-width: 700px) {
  .aboutus-cms {
    display: grid;
    grid-template-areas: 
    'a-item1'
    'a-item2'
    'a-item5'
    'a-item3'
    'a-item6'
    'a-item4'
    'a-item8'
    'a-item7';
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
    background: var(--bege);
    grid-template-rows: 10rem 1fr ;
   }

   .aboutus-item p {
    padding: 1rem 0;
    font-size: 1.1rem;
    margin: 0;
    color: var(--color-text);
  }

   .aboutus-cms .aboutus-item:nth-child(1) {
    font-size: 4rem;
    aspect-ratio: 3/1;
   }
   .aboutus-cms .aboutus-item:nth-child(6){
    background-size: cover;
    height: 100%;
   }
   .aboutus-cms .aboutus-item:nth-child(7){
    background-size: cover;
    height: 100%;
   }
   .aboutus-cms .aboutus-item:nth-child(3){
    aspect-ratio: 3/1;
   }
   .aboutus-cms .aboutus-item:nth-child(2){
    /* display: none; */
   }
   .aboutus-cms .aboutus-item:nth-child(4){
    aspect-ratio: 3/1;
   }
   .aboutus-cms .aboutus-item:nth-child(8){
    /* display: none; */
   }
 }